<div class="main">
    <div class="p-container">
        <div class="p-image">
            <img class="my-image" src="/assets/images/my.jpg">
        </div>
        <div class="p-info">
            <div class="p-title">ABOUT</div>
            <div class="p-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo sint molestiae provident vel molestias magnam, veritatis sit eius beatae blanditiis animi temporibus ducimus est voluptate ad obcaecati, laboriosam aliquid at reiciendisdelectus
                    expedita. Expedita facilis saepe qui ipsum deserunt ut ipsa, magni earum nostrum possimus harum ad aut cumque.
                </p>
            </div>
        </div>

    </div>
</div>