<div class="parallax">
    <div style="display:flex;width:100%;align-items:center;justify-content:center; flex-direction: column;height: 100vh;">
        <div class="quote">
            It's okay not to be okay
        </div>
        <button class="button" routerLink="/portfolio">View portfolio</button>
    </div>
    <div class="profile-box mt-64" style="height: 100vh;">
        <div class="profile-cont">
            <div class="p-image">
                <div class="image" style="overflow: hidden;
    background-image: url('/assets/images/my.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; width: 100%;height: 500px;"></div>
            </div>
            <div class="p-info">
                <div class="p-title">ABOUT</div>
                <div class="p-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo sint molestiae provident vel molestias magnam, veritatis sit eius beatae blanditiis animi temporibus ducimus est voluptate ad obcaecati, laboriosam aliquid at
                        reiciendis delectus expedita. Expedita facilis saepe qui ipsum deserunt ut ipsa, magni earum nostrum possimus harum ad aut cumque.</p>
                </div>
            </div>


        </div>
    </div>
</div>